[Desktop Entry]
Name=URL Handlers
Comment=Configure which programs are used to display URLs
Exec=url-properties
Icon=gnome-html.png
Terminal=0
Type=Application
