[Desktop Entry]
Name=Desk Guide
Name[no]=Skrivebord-guide
Comment=GNOME Desktop Guide (Pager)
Comment[no]=GNOME Skrivebord-guide (pager)
Exec=deskguide_applet --activate-goad-server=deskguide_applet
Icon=
Terminal=0
Type=Application
