[Desktop Entry]
Name=Colors
Name[de]=Farben
Name[es]=Colores
Name[fr]=Couleurs
Name[pt]=Cores
Comment=Colors for Enlightment
Name[es]=Colores para Enlightment
Name[fr]=Couleurs pour Enlightment
Comment[pt]=Cores
Exec=e-conf --cap-id=4
Icon=e-conf.png
Terminal=0
Type=Application
