[Desktop Entry]
Name=Desktop Background
Name[es]=Tapiz de fondo
Name[fr]=Papier-peint
Name[pt]=Fundo da área de trabalho
Comment=Desktop Background of Enlightment
Name[es]=Tapiz de fondo para Enlightment
Name[fr]=Papier-peint pour Enlightment
Comment[pt]=Fundo da área de trabalho
Exec=e-conf --cap-id=1
Icon=e-conf.png
Terminal=0
Type=Application
