[Desktop Entry]
Name=Tasklist
Name[cs]=Seznam úloh
Name[de]=Taskliste
Name[et]=Programmipaneel
Name[gl]=Lista de Tarefas
Name[ja]=¥¿¥¹¥¯¥ê¥¹¥È
Name[no]=Oppgaveliste
Name[pl]=Lista zadañ
Name[pt_BR]=Lista de tarefas
Name[sv]=Programlist
Name[uk]=óĞÉÓÏË ÚÁ×ÄÁÎØ
Name[zh_TW.Big5]=¤u§@¦Cªí
Name[zh_CN.GB2312]=¹¤×÷ÁĞ±í
Comment=GNOME Tasklist
Comment[cs]=Seznam úloh/procesù pro Gnome
Comment[de]=GNOMEs Taskliste
Comment[et]=Programmide juhtpaneel
Comment[gl]=Lista de Tarefas de GNOME
Comment[ja]=¥¦¥¤¥ó¥É¥¦°ìÍ÷
Comment[no]=GNOME oppgaveliste
Comment[pl]=Lista zadañ dla GNOME
Comment[pt_BR]=Lista de tarefas do GNOME
Comment[sv]=Programlist för GNOME
Comment[uk]=GNOME óĞÉÓÏË ÚÁ×ÄÁÎØ
Comment[zh_TW.Big5]=GNOME ¤u§@¦Cªí
Comment[zh_CN.GB2312]=GNOME ¹¤×÷ÁĞ±í
Exec=tasklist_applet --activate-goad-server=tasklist_applet
Icon=gnome-tasklist.png
Terminal=0
Type=Application
