[Desktop Entry]
Name=Tasklist
Name[no]=Oppgaveliste
Comment=GNOME Tasklist
Comment[no]=GNOME oppgaveliste
Exec=tasklist_applet --activate-goad-server=tasklist_applet
Icon=
Terminal=0
Type=Application
