[Desktop Entry]
Name=Tasklist
Name[cs]=Seznam úloh
Name[da]=Jobliste
Name[de]=Taskliste
Name[el]=Ëßóôá Äéåñãáóéşí
Name[es]=Lista de tareas
Name[et]=Programmipaneel
Name[gl]=Lista de Tarefas
Name[hu]=Taszkok listája
Name[ja]=¥¿¥¹¥¯¥ê¥¹¥È
Name[no]=Oppgaveliste
Name[pl]=Lista zadañ
Name[pt_BR]=Lista de tarefas
Name[sv]=Programlist
Name[uk]=óĞÉÓÏË ÚÁ×ÄÁÎØ
Name[wa]=Djîveye des bouyes
Name[zh_TW.Big5]=¤u§@¦Cªí
Name[zh_CN.GB2312]=¹¤×÷ÁĞ±í
Comment=GNOME Tasklist
Comment[cs]=Seznam úloh/procesù pro Gnome
Comment[da]=Oversigt over kørende programmer
Comment[de]=GNOMEs Taskliste
Comment[el]=Ëßóôá Äéåñãáóéşí GNOME
Comment[es]=Lista de tareas de GNOME
Comment[et]=Programmide juhtpaneel
Comment[gl]=Lista de Tarefas de GNOME
Comment[hu]=Taszklista applet
Comment[ja]=¥¦¥¤¥ó¥É¥¦°ìÍ÷
Comment[no]=GNOME oppgaveliste
Comment[pl]=Lista zadañ dla GNOME
Comment[pt_BR]=Lista de tarefas do GNOME
Comment[sv]=Programlist för GNOME
Comment[uk]=GNOME óĞÉÓÏË ÚÁ×ÄÁÎØ
Comment[wa]=Aplikete avou li djîveye des bouyes di GNOME
Comment[zh_TW.Big5]=GNOME ¤u§@¦Cªí
Comment[zh_CN.GB2312]=GNOME ¹¤×÷ÁĞ±í
Exec=tasklist_applet
Icon=gnome-tasklist.png
Terminal=0
Type=PanelApplet
