[Desktop Entry]
Name=GNOME terminal emulation program
Name[ja]=Gnome¥¿¡¼¥ß¥Ê¥ë
Name[es]=Terminal UNIX de GNOME
Name[fr]=Emulateur de Terminal GNOME
Name[ko]=GNOME ÅÍ¹Ì³Î ÇÁ·Î±×·¥
Name[no]=GNOME terminalemulator
Name[pt]=Terminal GNOME
Name[nl]=GNOME terminalemulator
Comment=Terminal emulation program
Comment[ja]=¥¿¡¼¥ß¥Ê¥ë¥¨¥ß¥å¥ì¡¼¥¿
Comment[es]=Emulador de terminal GNOME
Comment[fr]=Emulateur de Terminal GNOME
Comment[ko]=GNOME ÅÍ¹Ì³Î ÇÁ·Î±×·¥
Comment[no]=Terminalemulator for GNOME
Comment[pt]=Emulador de terminal GNOME
Comment[nl]=GNOME terminalemulator
Exec=gnome-terminal
Icon=gnome-term.png
Terminal=0
Type=Application
