[Desktop Entry]
Name=Screensaver Properties
Name[es]=Propiedades Protege pantalla
Name[fr]=Propirétés Économiseur écran
Name[pt]=Propriedades da protecção de ecrã
Name[no]=Egenskaper for skjermsparer
Comment=Configure the settings of the screensaver.
Comment[es]=Configurar el protector de pantalla
Comment[fr]=Configurer l'économiseur d'écran
Comment[pt]=Configura as opções da protecção de ecrã.
Comment[no]=Endre innstillingene for skjermspareren
Exec=screensaver-properties-capplet
Icon=gnome-screensaver.png
Terminal=0
Type=Application
