[Desktop Entry]
Name=Ant
Name[es]=Hormigas
Name[fr]=Fourmis
Name[ja]=µÂ
Name[no]=Maur
Comment=Little Ants walk around, leaving colored trails.
Comment[es]=Pequeñas hormigas paseandose por la pantalla y dejando huellas de colores.
Comment[fr]=Des petites fourmis qui se balladent sur l'écran, et qui laissent des traces colorées.
Exec=xscreensaver-command -activate
TryExec=ant
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=ant.png
Author=David Bagely
ExtendedComment=A cellular automaton that is really a two-dimensional\nTuring machine: as the heads (``ants'') walk\nalong the screen, they change pixel values in their\npath. Then, as they pass over changed pixels, their\nbehavior is influenced.
ExtendedComment[es]=Un autómata celular que es en realidad una máquina\nde Türing de dos dimensiones: ya que las hormigas\nmientras caminan por la pantalla van cambiando\nel valor de los pixeles sobre los cuales pasan.\nLuego, cuando pasan de vuelta sobre un pixel\nmodificado su comportamiento cambia.
ExtendedComment[fr]=Un automate cellulaire qui est en fait une machine\nde Türing à deux dimensions: puisque les fourmis\nen marchant à travers l'écran changent la valeur\ndes pixels sur leur chemin. Puis, lorsqu'elles\nrepassent sur des pixels ainsi modifiés\nleur comportemment en est influencé.
Demo=ant -delay 2

[Arg0]
Name=Size
Type=LRange
LeftLabel=Small
LeftLabel[es]=Pequeñas
LeftLabel[fr]=Petites
RightLabel=Large
RightLabel[es]=Grandes
RightLabel[fr]=Grandes
Flag=-size
ValType=I[1-20]=5
Label=Size:
Label[es]=Tamaño:
Label[fr]=Taille:
Comment=Changes the size of the ants.
Comment[es]=Cambia el tamaño de las hormigas
Comment[fr]=Change la taille des fourmis

[Arg1]
Name=Count
Type=NRange
LeftLabel=Ants:
LeftLabel[es]=Hormigas:
LeftLabel[fr]=Fourmis:
Flag=-count
ValType=I[1-10]=2
Label=Number of ants.
Label[es]=Cantidad de hormigas
Label[fr]=Nombre de fourmis
Comment=Changes the number of ants marching across the screen.
Comment[es]=Cambia la cantidad de hormigas que deambulan por la pantalla
Comment[fr]=Change le nombre de fourmis qui se belladent sur l'écran

[Arg2]
Name=Truchet
Type=Check
Flag=-truchet
Flag2=-no-truchet
LeftLabel=Print the path that the ant took in the trail.
LeftLabel[es]=Muestra las huellas dejadas por las hormigas
LeftLabel[fr]=Affiche les empreintes laissées par les fourmis
Comment=Determines whether or not the ant leaves a truchet in the path it leaves behind.
Comment[es]=Determina si sí o no las hormigas van surcando un caminito por donde pasan.
Comment[fr]=Determine si oui ou non les fourmis creusent un chemin lors de leur passage.
