[Desktop Entry]
Name=Ant
Name[no]=Maur
Comment=
Exec=xscreensaver-command -activate
TryExec=ant
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=ant.png
Author=
ExtendedComment=
Demo=ant -delay 2
