[Desktop Entry]
Name=Attraction
Name[es]=Atracción
Name[fr]=Attraction
Name[no]=Tiltrekning
Comment=
Exec=xscreensaver-command -activate
TryExec=attraction
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=attraction.png
Author=
ExtendedComment=
Demo=attraction -delay 2
