[Desktop Entry]
Name=Bouboule
Name[no]=Bouboule
Comment=
Exec=xscreensaver-command -activate
TryExec=bouboule
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=bouboule.png
Author=
ExtendedComment=
Demo=bouboule -delay 2
