[Desktop Entry]
Name=Bubbles
Name[no]=Bobler
Comment=
Exec=xscreensaver-command -activate
TryExec=bubbles
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=bubbles.png
Author=
ExtendedComment=
Demo=bubbles -delay 2
