[Desktop Entry]
Name=Coral
Name[no]=Korall
Comment=
Exec=xscreensaver-command -activate
TryExec=coral
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=coral.png
Author=
ExtendedComment=
Demo=coral -delay 2
