[Desktop Entry]
Name=Crystal
Name[no]=Krystall
Comment=
Exec=xscreensaver-command -activate
TryExec=crystal
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=crystal.png
Author=
ExtendedComment=
Demo=crystal -delay 2
