[Desktop Entry]
Name=Cynosure
Name[no]=Cynosure
Comment=
Exec=xscreensaver-command -activate
TryExec=cynosure
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=cynosure.png
Author=
ExtendedComment=
Demo=cynosure -delay 2
