[Desktop Entry]
Name=Deco
Name[es]=Deco
Name[fr]=Déco
Name[no]=Deco
Comment=Draw tacky 70s basement wall panelling.
Comment[es]=Dibuja motivos murales de lso años 70
Comment[fr]=Dessine des motifs muraux des années 70
Comment[no]=Tegn 70-talls kjellerveggpanel
Exec=xscreensaver-command -activate
TryExec=deco
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=deco.png
Author=Jamie Zawinski <jwz@jwz.org>\nMichael D. Bayne <mdb@go2net.com>
ExtendedComment=Deco draws tacky 70s basement wall panelling.
ExtendedComment[es]=Dibuja motivos de colores similares a los que se usaban para el empapelado en los años 70.
ExtendedComment[fr]=Dessine des motifs criards comme ceux utilisés dans les papiers peints des années 70.
Demo=deco -delay 2


[Arg0]
Name=delay
Type=LRange
ValType=I[1-20]=2
Flag=-delay
LeftLabel=Time between redraws:
LeftLabel[es]=Tiempo entre dos motivos:
LeftLabel[fr]=Temps entre deux motifs:
RightLabel=Seconds
RightLabel[es]=Segundos
RightLabel[fr]=Secondes
Comment=Changes the time between redrawing the screen.
Comment[es]=Cambia el tiempo de espera antes de re-dibujar la pantalla.
Comment[fr]=Change le temps d'attente avant de redessiner l'écran.

[Arg1]
Name=color
Type=Check
Flag=
Flag2=-mono
LeftLabel=Use color when drawing.
LeftLabel[es]=En colores
LeftLabel[fr]=En couleurs
Comment=Determines whether to draw the panels in color, or in black and white.
Comment[es]=Elije si se usarán los colores o en blanco y negro.
Comment[fr]=Determine si l'affichage se fera en couleurs ou en noir et blanc.

[Arg2]
Name=color-cycle
Type=Check
Flag=-cycle
Flag2=-no-cycle
LeftLabel=Cycle through colors.
LeftLabel[es]=Ciclo de colores
LeftLabel[fr]=Cycle entre les couleurs
Comment=This will cause the panes to flash.
Comment[es]=Esto dará un efecto de parpadeo.
Comment[fr]=Ceci fera flasher les motifs.
