[Desktop Entry]
Name=Discrete
Comment=
Exec=xscreensaver-command -activate
TryExec=discrete
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=discrete.png
Author=
ExtendedComment=
Demo=discrete -delay 2
