[Desktop Entry]
Name=Drift
Comment=
Exec=xscreensaver-command -activate
TryExec=drift
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=drift.png
Author=
ExtendedComment=
Demo=drift -delay 2
