[Desktop Entry]
Name=Epicycle
Name[es]=Epiciclo
Name[fr]=Épicycle
Name[ja]=¼þÅ¾±ß
Name[no]=Epicycle
Comment=
Exec=xscreensaver-command -activate
TryExec=epicycle
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=epicycle.png
Author=
ExtendedComment=
Demo=epicycle -delay 2
