[Desktop Entry]
Name=Flag
Name[no]=Flagg
Comment=
Exec=xscreensaver-command -activate
TryExec=flag
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=flag.png
Author=
ExtendedComment=
Demo=flag -delay 2
