[Desktop Entry]
Name=Flame
Name[es]=Llama
Name[fr]=Flamme
Name[no]=Flamme
Comment=
Exec=xscreensaver-command -activate
TryExec=flame
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=flame.png
Author=
ExtendedComment=
Demo=flame -delay 2
