[Desktop Entry]
Name=Flow
Name[no]=Flyt
Comment=
Exec=xscreensaver-command -activate
TryExec=flow
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=flow.png
Author=
ExtendedComment=
Demo=flow -delay 2
