[Desktop Entry]
Name=Forest
Name[no]=Skog
Comment=
Exec=xscreensaver-command -activate
TryExec=forest
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=forest.png
Author=
ExtendedComment=
Demo=forest -delay 2
