[Desktop Entry]
Name=Goop
Comment=
Exec=xscreensaver-command -activate
TryExec=goop
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=goop.png
Author=
ExtendedComment=
Demo=goop -delay 2
