[Desktop Entry]
Name=Grav
Name[no]=Grav
Comment=
Exec=xscreensaver-command -activate
TryExec=grav
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=grav.png
Author=
ExtendedComment=
Demo=grav -delay 2
