[Desktop Entry]
Name=Hopalong
Name[no]=Hopalong
Comment=
Exec=xscreensaver-command -activate
TryExec=hopalong
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=hopalong.png
Author=
ExtendedComment=
Demo=hopalong -delay 2
