[Desktop Entry]
Name=Ifs
Comment=
Exec=xscreensaver-command -activate
TryExec=ifs
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=ifs.png
Author=
ExtendedComment=
Demo=ifs -delay 2
