[Desktop Entry]
Name=Laser
Name[no]=Laser
Comment=
Exec=xscreensaver-command -activate
TryExec=laser
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=laser.png
Author=
ExtendedComment=
Demo=laser -delay 2
