[Desktop Entry]
Name=Lightning
Name[no]=Lyn
Comment=
Exec=xscreensaver-command -activate
TryExec=lightning
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=lightning.png
Author=
ExtendedComment=
Demo=lightning -delay 2
