[Desktop Entry]
Name=Lisa
Comment=
Exec=xscreensaver-command -activate
TryExec=lisa
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=lisa.png
Author=
ExtendedComment=
Demo=lisa -delay 2
