[Desktop Entry]
Name=Lmorph
Comment=
Exec=xscreensaver-command -activate
TryExec=lmorph
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=lmorph.png
Author=
ExtendedComment=
Demo=lmorph -delay 2
