[Desktop Entry]
Name=Moire
Name[no]=Moire
Comment=
Exec=xscreensaver-command -activate
TryExec=moire
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=moire.png
Author=
ExtendedComment=
Demo=moire -delay 2
