[Desktop Entry]
Name=Munch
Comment=
Exec=xscreensaver-command -activate
TryExec=munch
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=munch.png
Author=
ExtendedComment=
Demo=munch -delay 2
