[Desktop Entry]
Name=Noseguy
Name[no]=Nesetype
Comment=
Exec=xscreensaver-command -activate
TryExec=noseguy
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=noseguy.png
Author=
ExtendedComment=
Demo=noseguy
