[Desktop Entry]
Name=Pyro
Comment=
Exec=xscreensaver-command -activate
TryExec=pyro
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=pyro.png
Author=
ExtendedComment=
Demo=pyro
