[Desktop Entry]
Name=Qix
Name[es]=Qix
Name[fr]=Qix
Name[no]=Qix
Comment=Bounce colored lines around a window.
Comment[es]=Rebota lineas de colores en una ventana
Comment[fr]=Des lignes de couleurs qui rebondissent à l'écran
Exec=xscreensaver-command -activate
TryExec=qix
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=qix.png
Author=Jamie Zawinski <jwz@jwz.org>
ExtendedComment=Qix bounces a series\nof line segments around its window.  This\nis truly the swiss army chainsaw of qix programs.
DefaultFlags=-linear
Demo=qix -linear

[Arg0]
Name=Speed
Type=LRange
LeftLabel=Fast
RightLabel=Slow
Flag=-delay
ValType=I[10000-65000]=15000
Label=Speed:
Label[es]=Velocidad:
Label[fr]=Vitesse:
Comment=Changes the speed at which the Qix moves.
Comment[es]=Cambia la velocidad a la que se mueve la estructura
Comment[fr]=Change la vitesse de deplacement de la structure

[Arg2]
Name=Count
Type=NRange
ValType=I[1-8]=1
Flag=-count
Label=Count:
Label[es]=Conteo:
Label[fr]=Quantité:
LeftLabel=Number of Qix:
LeftLabel[es]=Cantidad de Qix:
LeftLabel[fr]=Nombre de Qix:
Comment=Sets the number of Qix you have running at once.
Comment[es]=Define la cantidad de "Qix" que corren por la pantalla al mismo tiempo.
Comment[fr]=Definit le nombre de « Qix » présents en même temps.

[Arg1]
Name=Segments
Type=LRange
Label=Length of the Trail:
Label[es]=Dimensión de la cola:
Label[fr]=Taille de la trainée:
ValType=I[1-1000]=50
Flag=-segments
LeftLabel=Small
LeftLabel[es]=Corta
LeftLabel[fr]=Courte
RightLabel=Large
RightLabel[es]=Larga
RightLabel[fr]=Longue
Comment=Sets the number of line segments to be drawn.
Comment[es]=Define la cantidad de lineas paralelas que se dibujarán.
Comment[fr]=Definit le nombre de lignes parallèles de la structure.

[Arg3]
Name=Spread
Type=LRange
ValType=I[1-400]=50
Flag=-spread
Label=Width of segment:
Label[es]=Ancho:
Label[fr]=Largeur:
LeftLabel=Small
LeftLabel[es]=Estrecho
LeftLabel[fr]=Étroite
RightLabel=Large
RightLabel[es]=Ancho
RightLabel[fr]=Large
Comment=Sets the distance between each line segment.
Comment[es]=Distancia entre las lineas.
Comment[fr]=Distance entre les lignes.

[Arg4]
Name=Solid
Type=Check
Flag=-solid
Flag2=-hollow
LeftLabel=Draw solid Qix.
LeftLabel[es]=Sólido
LeftLabel[fr]=Solide
Comment=Determines whether to fill in the gaps between the lines.
Comment[es]=Determina si se debe o no dibujar un "Qix" sólido.
Comment[fr]=Determine s'il faut dessiner un « Qix » solide.

[Arg5]
Name=Random
Type=Check
Flag=-random
Flag2=-linear
LeftLabel=Set random motion for the Qix.
LeftLabel[es]=Movimiento aleatorio
LeftLabel[fr]=Mouvement aléatoire
Comment=Determines whether the lines move erraticly, or bounce off the walls linearly.
Comment[es]=Determina si las lineas se mueven de manera errática, o si tienen que rebotar de manera lineal.
Comment[fr]=Determine si les lignes se meuvent de façon erratique, ou si elles doivent rebondire de façon linéaire.
