[Desktop Entry]
Name=Rocks
Name[es]=Rocas
Name[eu]=Harriak
Name[fr]=Rochers
Name[no]=Steiner
Comment=
Exec=xscreensaver-command -activate
TryExec=rocks
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=rocks.png
Author=
ExtendedComment=
Demo=rocks -delay 2
