[Desktop Entry]
Name=Screensaver Properties
Name[pt]=Propriedades da protecção de ecrã
Comment=Configure the settings of the screensaver.
Comment[pt]=Configura as opções da protecção de ecrã.
Exec=screensaver-properties-capplet
Icon=gnome-screensaver.png
Terminal=0
Type=Application
