[Desktop Entry]
Name=Sierpinski
Comment=
Exec=xscreensaver-command -activate
TryExec=sierpinski
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=sierpinski.png
Author=
ExtendedComment=
Demo=sierpinski -delay 2
