[Desktop Entry]
Name=Spiral
Name[es]=Espiral
Name[fr]=Spirale
Name[no]=Spiral
Comment=
Exec=xscreensaver-command -activate
TryExec=spiral
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=spiral.png
Author=
ExtendedComment=
Demo=spiral -delay 2
