[Desktop Entry]
Name=Starfish
Name[no]=Stjernefisk
Comment=
Exec=xscreensaver-command -activate
TryExec=starfish
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=starfish.png
Author=
ExtendedComment=
Demo=starfish -delay 2
