[Desktop Entry]
Name=Triangle
Name[no]=Triangel
Comment=
Exec=xscreensaver-command -activate
TryExec=triangle
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=triangle.png
Author=
ExtendedComment=
Demo=triangle -delay 2
