[Desktop Entry]
Name=Background Properties
Name[es]=Propiedades del tapiz
Name[de]=Hintergrund Einstellungen
Name[ko]=¹è°æ ¼³Á¤
Name[fr]=Propriètés de l'Arrière-plan
Name[no]=Egenskaper for bakgrunn
Comment=Background Properties
Comment[es]=Propiedades del tapiz
Comment[de]=Einstellungen für den Desktop Hintergrund
Comment[ko]=¹è°æ ¼³Á¤
Comment[fr]=Propriètés de l'Arrière-plan
Comment[no]=Egenskaper for bakgrunn
Exec=background-properties
Icon=gnome-background.png
Terminal=0
Type=Application
