[Desktop Entry]
Name=Background Properties
Name[es]=Propiedades del tapiz
Name[de]=Hintergrund Einstellungen
Name[de]=¹è°æ ¼³Á¤
Comment=Background Properties
Comment[es]=Propiedades del tapiz
Comment[de]=Einstellungen für den Desktop Hintergrund
Comment[de]=¹è°æ ¼³Á¤
Exec=background-properties
Icon=
Terminal=0
Type=Application
