[Desktop Entry]
Name=Bell Properties
Name[ja]=ベル
Name[es]=Propriedades del "bip"
Name[de]=Bell Properties
Name[ko]=秽家府 汲沥
Name[fr]=Propri閠閟 du "Bip"
Name[it]=Bell Properties
Name[no]=Egenskaper for ringeklokke
Name[pt]=Propriedades do Beep
Comment=Bell Properties
Comment[ja]=ベルプロパティ
Comment[es]=Modifica las propiedades de los s髇idos relacionados con eventos del sistema
Comment[de]=Bell Properties
Comment[ko]=秽家府 汲沥
Comment[fr]=Propri閠閟 du "Bip"
Comment[it]=Bell Properties
Comment[no]=Egenskaper for ringeklokke
Comment[pt]=Modifica as propriedades do beep
Exec=bell-properties
Icon=
Terminal=0
Type=Application
