[Desktop Entry]
Name=Bell Properties
Name[es]=Bell Properties
Name[de]=Bell Properties
Name[ko]=秽家府 汲沥
Name[fr]=Propri閠閟 du "Bip"
Name[it]=Bell Properties
Name[no]=Egenskaper for ringeklokke
Comment=Bell Properties
Comment[es]=Bell Properties
Comment[de]=Bell Properties
Comment[ko]=秽家府 汲沥
Comment[fr]=Propri閠閟 du "Bip"
Comment[it]=Bell Properties
Comment[no]=Egenskaper for ringeklokke
Exec=bell-properties
Icon=
Terminal=0
Type=Application
