[Desktop Entry]
Name=Keyboard Properties
Name[es]=Propiedades del teclado
Name[de]=Tastatur Einstellungen
Name[ko]=Å°º¸µå ¼³Á¤
Name[fr]=Propriétés du clavier
Name[no]=Egenskaper for tastatur
Name[pt]=Propriedades do Teclado
Comment=Keyboard Properties
Comment[es]=Modifica las propiedades del teclado
Comment[de]=Einstellungen für die Tastatur
Comment[ko]=Å°º¸µå ¼³Á¤
Comment[fr]=Propriétés du clavier
Comment[no]=Egenskaper for tastatur
Comment[pt]=Modifica as propriedades do teclado
Exec=keyboard-properties
Icon=
Terminal=0
Type=Application
