[Desktop Entry]
Name=Keyboard Properties
Name[es]=Propiedades del teclado
Name[de]=Tastatur Einstellungen
Name[ko]=Å°º¸µå ¼³Á¤
Name[fr]=Propriètés du clavier
Comment=Keyboard Properties
Comment[es]=Propiedades del teclado
Comment[de]=Einstellungen für die Tastatur
Comment[ko]=Å°º¸µå ¼³Á¤
Comment[fr]=Propriètés du clavier
Exec=keyboard-properties
Icon=
Terminal=0
Type=Application
