[Desktop Entry]
Name=Mouse Properties
Name[es]=Propiedades del ratón
Name[de]=Maus Einstellungen
Name[ko]=¸¶¿ì½º ¼³Á¤
Name[fr]=Propriètés de la souris
Name[no]=Egenskaper for mus
Comment=Mouse Properties
Comment[es]=Propiedades del ratón
Comment[de]=Einstellungen für die Maus
Comment[ko]=¸¶¿ì½º ¼³Á¤
Comment[fr]=Propriètés de la souris
Comment[no]=Egenskaper for mus
Exec=mouse-properties
Icon=gnome-mouse.png
Terminal=0
Type=Application
