[Desktop Entry]
Name=Menu editor
Name[es]=Editor de menues
Name[fr]=Editeur de menus
Name[pt]=Editor de Menus
Comment=the GNOME menu editor
Comment[es]=Editar los menues del panel de GNOME
Comment[fr]=Editeur de menus GNOME
Comment[pt]=O editor de menus GNOME
Exec=gmenu
Icon=gnome-gmenu.png
Terminal=0
Type=Application
