[Desktop Entry]
Name=Help system
Name[es]=Sistema de ayuda 
Name[fr]=Système d'Aide
Name[de]=GNOME Hilfe
Name[ko]=$(C55?r8;(B $(C=C=:E[(B
Comment=Integrated help system (Info, man, HTML)
Comment[es]=Sistema integral de ayuda (Info, man, HTML)
Comment[fr]=Système d'Aide Intégré (Info, man, HTML)
Comment[de]=Integriertes Hilfesystem (Info, man, HTML)
Comment[ko]=$(CA>GU(B $(C55?r8;(B $(C=C=:E[(B (Info, man, HTML)
Exec=gnome-help-browser
Icon=gnome-help.png
Terminal=0
Type=Application
