[Desktop Entry]
Name=Help system
Name[de]=GNOME Hilfe
Name[es]=Sistema de ayuda
Name[eu]=Laguntza sistema
Name[fi]=Ohjeselain
Name[fr]=SystХme d'Aide
Name[hu]=GNOME SЗgС
Name[ja]=╔ь╔К╔в╔╥╔╧╔ф╔Ю
Name[ko]=╣╣©Р╦╩ ╫ц╫╨еш
Name[nl]=Help systeem
Name[no]=GNOME Hjelp
Name[pt]=Ajuda GNOME
Name[ru]=Справочная система
Comment=Integrated help system (Info, man, HTML)
Comment[de]=Integriertes Hilfesystem (Info, man, HTML)
Comment[es]=Sistema integral de ayuda (Info, man, HTML)
Comment[eu]=Laguntza sistema bateratua (Info, man, HTML)
Comment[fi]=GNOME-ohjeselain (Info-, manuaali- ja HTML-sivut)
Comment[fr]=SystХme d'Aide IntИgrИ (Info, man, HTML)
Comment[hu]=GNOME SЗgС-bЖngИszУ
Comment[ja]=╔ь╔К╔в╔╥╔╧╔ф╔Ю(Info, man, HTML)
Comment[ko]=а╬гу ╣╣©Р╦╩ ╫ц╫╨еш
Comment[nl]=Help systeem (Info, man, HTML)
Comment[no]=Integrert hjelpesystem
Comment[pt]=Sistema integrado de ajuda (Info, Man e HTML)
Comment[ru]=Система просмотра справочной информации (Info, man, HTML)
Exec=gnome-help-browser
Icon=gnome-help.png
Terminal=0
Type=Application
