[Desktop Entry]
Name=Startup Hint
Name[da]=Opstartstips
Name[de]=Tipps beim Start
Name[el]=Υπόδειξη εκκίνησης
Name[pt_BR]=Dicas na Inicializaηγo
Name[uk]=σΤΑÒΤΟΧ¦ ΠΟÒΑΔΙ
Comment=Options for the startup hint dialog
Comment[da]=Indstillinger for opstartstipsboksen
Comment[de]=Optionen fόr die Anzeige von Tipps beim Start
Comment[el]=Υπόδειξη κατά την εκκίνηση
Comment[pt_BR]=Opηυes para caixa de diαlogo de dicas na inicializaηγo
Comment[uk]=πΑÒΑΝΕΤÒΙ Δ¦ΑΜΟΗΥ ΣΤΑÒΤΟΧΙΘ ΠΟÒΑΔ
Exec=gnome-hint-properties-capplet
Icon=
Terminal=0
Type=Application
