[Desktop Entry]
Name=Startup Hint
Name[da]=Opstartstips
Name[pt_BR]=Dicas na Inicialização
Name[de]=Tipps beim Start
Comment=Options for the startup hint dialog
Comment[da]=Indstillinger for opstartstipsboksen
Comment[pt_BR]=Opções para caixa de diálogo de dicas na inicialização
Comment[de]=Optionen für die Anzeige von Tipps beim Start
Exec=gnome-hint-properties-capplet
Icon=
Terminal=0
Type=Application
